<!doctype html>

{% if f_name %}
    <video width="250" height="200" controls>
        <source src={{url_for('static', filename=f_name)}} type="video/mp4"/>
    </video>

    <form method="post">
        <label for="video_path">FPath</label>
            <input name="video_path" id="video_path" value={{f_path}} required><br>
        <label for="video">Video</label><br>
            <input name="video" id="video" value={{f_name}} required>
        <label for="audio">Audio</label><br>
            <input name="audio" id="audio" required>
        <input type="submit" value="Merge">
    </form>
{% else %}
    {% block content %}
      <form method="post">
        <label for="pexels">Pexels</label>
        <input name="pexels" id="pexels" required>
        <input type="submit" value="Search">
      </form>
    {% endblock %}
{% endif %}